
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
/*font-family: 'Roboto', sans-serif;*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62,5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* HEADER*/

.encabezado {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.navegador {
    width: 100%;
    height: 2rem;
}

.navegador-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.navegador-lista-item {
    text-decoration: none;
    margin: 0% 15px;
    color: white;
}

.banner {
    margin: 2,5rem auto;
}

.logo {
    width: 20rem;
    background-color: black;
}

/*Inicio*/

.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.seccion-producto {
    margin: 0px 35px;
    display: inline-block;
    align-content: center;
    position: relative; 
}

.seccion-producto-img {
    width: 100%;
    height: auto;
    display: block;
}

.seccion-producto::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}


.seccion-producto-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: black;
    font-size: 30px;
    z-index: 2;
    text-align: center;
}

/* Productos*/

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.lista-producto {
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    margin: 15px;
    background-color: #ffffff;
    transition: transform 0.3s;
}

.lista-producto:hover {
    transform: scale(1.05);
  }

.lista-producto-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.lista-producto-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    object-fit: cover;
}

.lista-producto-p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

span {
    font-size: 1.1em;
    color: #ff6347;
    font-weight: bold;
    margin-bottom: 1px;
}

section {
    max-width: 80%;
    margin: 50px auto;
}

.boton-compra {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #8B4513;
    color: #8B4513;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.boton-compra:hover {
    background-color: #8B4513;
    color: #fff;
}
/*Empresa*/
/*Contacto*/

/* Footer*/

.pie {
    background-color: gray;
    list-style: none;
    display: column-reverse;
    justify-content: center;
    align-items: center;
}

.navegador2-lista {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navegador2-lista-item {
    text-decoration: none;
    margin: 0% 25px;
    color: black; 
}

.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redes-sociales a {
    margin: 0 10px;
    text-decoration: none; 
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* mobile */
@media only screen and (max-width: 500px) {
    body {
        background-color: chocolate;
    }
}

/*tablet*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        background-color: aqua;
    }
}